<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h2> Welcome <%= User.get(session[:user_id]).email %></h2>
	<form action="/addTweet" method="Post">
	<input type="text" name="tweet">
	<input type="submit" value="Tweet">
	<a href = "/signout">Sign Out</a>
	<a href = "/follow">Follow</a>
	</form>
	<br>
	<% tweets.each do |tweet| %>
	<form action = "/togglelike" method = "post"> 
	<p><%= User.get(tweet.user_id).email %>:<br> 
	<%= tweet.tweet %>
	Likes : <%= tweet.likecount%>
	<% if Like.all(user_id: session[:user_id], tweet_id: tweet.id).first.nil? %>
	<input type = "submit" value = "Like">
	<% else %>
	<input type = "submit" value = "Unlike">
	<% end %>
	<input type = "hidden" value = "<%= tweet.id %>" name = "tweet_id">
	</p>
	</form>
	<% end %>
	
</body>
</html>